{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png">

    <link rel="stylesheet" href="{% static 'auth-css/changepass.css' %}">
</head>
<body>
    <div class="changepass-container">
        <form action="" method="POST">
            {% csrf_token %}
            <h2>Change Password</h2>
            <div class="forms-container">
                {{ form.as_p }}
                <button type="submit" id="bttn-changepass">Update Password</button>
            </div>
            <p><a href="{% url 'login' %}">Back to Login</a></p>
        </form>
    </div>
</body>
</html>
