body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1600px;
    margin:50px;
    padding: 20px;
}

.product-detail {
    text-align: center;
    margin-bottom: 50px;
}

.product-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #222;
}

.main-image {
    width: 400px;
    max-width: 90%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.product-description {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

.webshopi_product_list{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    /* flex-direction: row; */
    border-radius: 10px;
    box-shadow: #d6efef;
    width: 100%;
    height: max-content;
    background-color: #0a1521;
}

.webshopi-container {
    display: inline-block;
    flex-direction: row;
}

.product-image {
    /* margin-left: 50px; */
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.listproducts{
   background-color: rgb(234, 239, 237);
   padding: 10px;
   margin-top: 20px;
   margin: 10px;
   width: max-content;
   height: 250px;
   border-radius: 5px;
   box-shadow: #0a1521;
   transition: tranform all ease-out;
}
/* .listproducts:hover{
    transform: translateY(-10px);
    box-shadow: #0a1521;
} */

#list-id{
    color: #0d1239;
    background-color: #f9f9f9;
    padding: 3px;
}

#list-id:hover{
    color: #ffffff;
    background-color: #0f1722;
}
