body {
    font-family: Arial, sans-serif;
    background-image: url("{% static 'imagef/signupbg.jpg' %}");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
form{
    background: linear-gradient(135deg, #89f7fe, #66a6ff); 
    /* margin: 15px; */
    margin-left: 8px;
    margin-top: auto;
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #ccc;
}
.login-container {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
    width: 350px;
    height: 350px;
}

.forms-container p {
    margin-bottom: 18px;
}

.forms-container label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
    
}

.forms-container input {
    width: 270px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

input:focus{
    border-color: #026ff5;
    box-shadow: #230f51;
    outline: none;
}

button {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    /* margin-top: 25px; */
    margin-left: 50px;
    transition: all 0.3s ease;
    width: 200px;
    text-transform: uppercase;
    box-shadow: 0px 5px 15px rgba(0, 114, 255, 0.3);
    transform: tranform 0.6 ease-in-out;
    /* animation-name: slide;
    animation-duration: 6s; */
}

/* @keyframes slide{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(170px);
    }
    100%{
        transform: translateX(1000px);
    }
} */
button:hover {
    background: linear-gradient(135deg, #0072ff, #00c6ff);
    box-shadow: 0px 8px 20px rgba(0, 114, 255, 0.4);
    transform: translatey(-2px);
}
